<html ng-app="gameWorld">
	<head>
		<title>LUDUM DARE 33</title>
		<!--Stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<!-- Javascript Libaries and Angular App -->
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div class="header">
				<div class="left">LD33</div>
				<div class="right">0.0.1</div>
			</div>
			<div class="content" ng-app="gameWorld" ng-controller="RoomController">
				<div class="left sidebar">
					<ul>
						<li class="stat danger"><i class="fa fa-heart left"></i><div class="right">2/30</div></li>
						<li class="stat"><i class="fa fa-bed left"></i><div class="right">100</div></li>
						<li class="stat warning"><i class="fa fa-cutlery left"></i><div class="right"> 37</div></li>
						<li class="item" ng-click="room.examined = 1">Look Around</li>
						<li class="item" ng-click="room.poop = 1">Poop</li>
					</ul>
				</div>
				<div class="eventWindow">
					<span ng-show="room.event">{{eventList[room.event].description}}<br /><br /></span>
					<span>{{roomSet[room.type].description}}</span>
					<span class="poop" ng-show="room.poop"><br />Your poop is on the ground here.</span>
					<div ng-show="room.examined">
						<br />
						<div ng-repeat="dir in room.directions">
							<span ng-show="dir.canMove">To the {{compass[$index]}} is <a href ng-click="move(cNum[$index])">{{dir.name}}</a></span>
						</div>
					</div>
				</div>
				<em style="width: 100%; clear: both; text-align: center">
					DEBUG
					<br />{{room}}
					<br />{{position}}
				</em>
			</div>
			
			<div class="footer">
				Made with <i class="fa fa-heart"></i> by <a href="http://defacid.com">Shaquille Stoutamire</a> 2015
				<br />Made for <a href="http://ludumdare.com">Ludum Dare 33</a>
			</div>
		</div>
		
		<script>
		(function(){
			$(".wrap").hide();
			$(".content > div").hide();
			
			$(".wrap").fadeIn(2000, function(){
				$(".eventWindow").slideDown(2000);
				$(".sidebar").delay(1000).slideDown(1000);
			});
		})();
		</script>
	</body>
</html>